@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 100%;
}

.topbar {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  height: 100%;
}

.icon {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  cursor: pointer;
}

.icon ion-icon {
  font-size: 2em;
}

.icon p {
  margin: 0;
}

.icon:not(:first-of-type) {
  height: 16vh;
}

.logo {
  height: 50%;
}

.search-wrapper {
  display: flex;
  height: 50%;
  width: 30%;
}

.search-wrapper input {
  width: 100%;
  padding: 0 1em;
}

.icons-wrapper {
  display: flex;
  align-items: center;
}

.top-icon {
  font-size: 2em;
  padding: 0 0.5em;
}

.mic-icon {
  display: flex;
  align-items: center;
}

.search-btn {
  padding: 0 0.7em;
  font-size: 1.3em;
  display: flex;
  align-items: center;
}
.content{
  padding: 1em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.video{
  padding: 0.75em;
}

.canaleyt{
  height: 50px;
  width: 400px;
  display: flex;
  align-items: center;
  padding: 0.25em;
}

.informations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}

.title{
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  font-style: bold;
}

.description{
  margin: 0;
  padding-top: 0.25em;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  opacity: 0.85;
}

.anteprima{
  height: 250px;
  width: 400px;
  background-image: url(assets/epicode_thumb.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.logo{
  height: 50px;
  width: 50px;
  background-image: url(assets/epicode-logo.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}